<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Appointments
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [routerLink]="['/home/add']" routerLinkActive="router-link-active" >
        <ion-icon name="add"></ion-icon> Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="padding:5px 5px 0px 5px;">
    <ion-item>
      <ion-input type="search" placeholder="Enter Code"  [clearInput]="true" (ionChange)="searchCode($event)" ></ion-input>
    </ion-item>
  </div>
  <br>
  <ion-row style="padding: 5px;">
    <ion-col size="12" sizeLg="3" sizeMd="4" *ngFor="let person of homeService.showValue" (click)="showMenu(person)">
      <app-singleappointment [person]="person"></app-singleappointment>
    </ion-col>
  </ion-row>
  <ion-modal [isOpen]="schedule">
    <ng-template >
      <app-reschedule-type (selected)="reschedule($event)"></app-reschedule-type>
    </ng-template>
  </ion-modal>
</ion-content>
